.product_list--container{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 35px;
}

.product_filter--container{
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}
